* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(15px, calc(1.5vw + 2px), 16px);
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.card {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 0.2rem 15px  #d6d6d6ff;
}

.inner {
}