@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "poppins";
  font-weight: 300;
  font-size: clamp(11px, calc(1.8vw + 4px), 15px);
  color: hsl(212, 6%, 44%);
  line-height: 1.2;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 8%;
  gap: 3rem;
}

section,
div {
  display: flex;
  flex-flow: column;
}

.intro {
  min-width: 23rem;
  max-width: 26rem;
  text-align: center;
  gap: 1rem;
}

.intro h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

.intro span {
  font-weight: 800;
  color: hsl(234, 12%, 34%);
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.grid-container {
  display: grid;
  gap: 1.5rem;
}

.flex-container {
  gap: 1.5rem;
}

.card .deco-line {
  background: red;
  height: 0.3rem;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.card {
  position: relative;
  min-width: 18rem;
  max-width: 20rem;
  height: 14rem;
  box-shadow: 0 0.7rem 0.7rem hsl(216, 38%, 95%);
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card > img:last-child {
  width: 3rem;
  position: absolute;
  right: 1.5rem;
  bottom: 3rem;
}

.attribution {
  margin-block-end: 1rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 640px) {
  .grid-container {
    grid-template: 1fr / repeat(3, 1fr);
    align-items: center;
    transition: all 3s ease-in;
  }
}
