@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: clamp(13px, calc(1.5vw + 2px), 15px);
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: 500;
  color: hsl(212, 6%, 44%);
}

body {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  background: hsl(0, 0%, 100%);
  width: 100vw;
  padding: 3rem 1rem;
}

.intro,
div {
  display: flex;
  flex-flow: column;
}

.intro {
  width: clamp(25.5rem, 100%, 31rem);
  text-align: center;
  gap: 1.5rem;
}

.intro h2 {
  font-size: 2rem;
  font-weight: 400;
  align-self: center;
}

.intro span {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 2.1rem;
}

.grid-container {
  display: grid;
  align-items: center;
  gap: 2rem;
}

.flex {
  gap: 2rem;
}

.card .decor-line {
  height: 0.2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.card .first {
  background: hsl(180, 62%, 55%);
}
.card .second {
  background: hsl(0, 78%, 62%);
}
.card .third {
  background: hsl(34, 97%, 64%);
}
.card .fourth {
  background: hsl(212, 86%, 64%);
}

.card {
  position: relative;
  width: clamp(18rem, calc(99vw + 3.2px), 23rem);
  border-radius: 0.5rem;
  overflow: hidden;
  height: 17rem;
  padding: 2rem;
  align-self: center;
  box-shadow: 0 0.7rem 0.7rem hsl(218, 36%, 96%);
}

.card > img:last-child {
  position: absolute;
  right: 1.5rem;
  bottom: 3rem;
}

.card h3 {
  color: hsl(234, 12%, 34%);
  margin-bottom: 0.5rem;
}

.attribution {
  position: fixed;
  background-color: hsl(218, 36%, 96%);
  font-size: 0.8rem;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 640px) {
  .grid-container {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    transition: all 3s ease;
  }
}