* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(15px, calc(1.8vw + 2px), 16px);
  line-height: 1.5rem;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 8%;
  gap: 2rem
}

section, div {
  display: flex;
  flex-flow: column;
}

.hero {
  min-width: 16rem;
  max-width: 26rem;
  text-align: center;
  gap: 1rem;
}

.grid-container {
  display: grid;
  gap: 1.5rem;
}

.flex-container {
  gap: 1.5rem;
}

.card {
  width: 16rem;
  height: 12rem;
  box-shadow: 0 2px 10px #c6d6d6ff;
  padding: 1rem;
}
